---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thumbot/prtester
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1474592299'
      Etag:
      - W/"ca1a9ae790320b7b142d888afb722d78"
      Last-Modified:
      - Tue, 09 Aug 2016 06:48:25 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":65270336,"name":"prtester","full_name":"thumbot/prtester","owner":{"login":"thumbot","id":20921557,"avatar_url":"https://avatars.githubusercontent.com/u/20921557?v=3","gravatar_id":"","url":"https://api.github.com/users/thumbot","html_url":"https://github.com/thumbot","followers_url":"https://api.github.com/users/thumbot/followers","following_url":"https://api.github.com/users/thumbot/following{/other_user}","gists_url":"https://api.github.com/users/thumbot/gists{/gist_id}","starred_url":"https://api.github.com/users/thumbot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thumbot/subscriptions","organizations_url":"https://api.github.com/users/thumbot/orgs","repos_url":"https://api.github.com/users/thumbot/repos","events_url":"https://api.github.com/users/thumbot/events{/privacy}","received_events_url":"https://api.github.com/users/thumbot/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/thumbot/prtester","description":"testing
        pr","fork":true,"url":"https://api.github.com/repos/thumbot/prtester","forks_url":"https://api.github.com/repos/thumbot/prtester/forks","keys_url":"https://api.github.com/repos/thumbot/prtester/keys{/key_id}","collaborators_url":"https://api.github.com/repos/thumbot/prtester/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/thumbot/prtester/teams","hooks_url":"https://api.github.com/repos/thumbot/prtester/hooks","issue_events_url":"https://api.github.com/repos/thumbot/prtester/issues/events{/number}","events_url":"https://api.github.com/repos/thumbot/prtester/events","assignees_url":"https://api.github.com/repos/thumbot/prtester/assignees{/user}","branches_url":"https://api.github.com/repos/thumbot/prtester/branches{/branch}","tags_url":"https://api.github.com/repos/thumbot/prtester/tags","blobs_url":"https://api.github.com/repos/thumbot/prtester/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/thumbot/prtester/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/thumbot/prtester/git/refs{/sha}","trees_url":"https://api.github.com/repos/thumbot/prtester/git/trees{/sha}","statuses_url":"https://api.github.com/repos/thumbot/prtester/statuses/{sha}","languages_url":"https://api.github.com/repos/thumbot/prtester/languages","stargazers_url":"https://api.github.com/repos/thumbot/prtester/stargazers","contributors_url":"https://api.github.com/repos/thumbot/prtester/contributors","subscribers_url":"https://api.github.com/repos/thumbot/prtester/subscribers","subscription_url":"https://api.github.com/repos/thumbot/prtester/subscription","commits_url":"https://api.github.com/repos/thumbot/prtester/commits{/sha}","git_commits_url":"https://api.github.com/repos/thumbot/prtester/git/commits{/sha}","comments_url":"https://api.github.com/repos/thumbot/prtester/comments{/number}","issue_comment_url":"https://api.github.com/repos/thumbot/prtester/issues/comments{/number}","contents_url":"https://api.github.com/repos/thumbot/prtester/contents/{+path}","compare_url":"https://api.github.com/repos/thumbot/prtester/compare/{base}...{head}","merges_url":"https://api.github.com/repos/thumbot/prtester/merges","archive_url":"https://api.github.com/repos/thumbot/prtester/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/thumbot/prtester/downloads","issues_url":"https://api.github.com/repos/thumbot/prtester/issues{/number}","pulls_url":"https://api.github.com/repos/thumbot/prtester/pulls{/number}","milestones_url":"https://api.github.com/repos/thumbot/prtester/milestones{/number}","notifications_url":"https://api.github.com/repos/thumbot/prtester/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/thumbot/prtester/labels{/name}","releases_url":"https://api.github.com/repos/thumbot/prtester/releases{/id}","deployments_url":"https://api.github.com/repos/thumbot/prtester/deployments","created_at":"2016-08-09T06:48:24Z","updated_at":"2016-08-09T06:48:25Z","pushed_at":"2016-09-22T05:34:48Z","git_url":"git://github.com/thumbot/prtester.git","ssh_url":"git@github.com:thumbot/prtester.git","clone_url":"https://github.com/thumbot/prtester.git","svn_url":"https://github.com/thumbot/prtester","homepage":null,"size":240,"stargazers_count":0,"watchers_count":0,"language":"Makefile","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":8,"forks":0,"open_issues":8,"watchers":0,"default_branch":"master","parent":{"id":64998050,"name":"prtester","full_name":"davidx/prtester","owner":{"login":"davidx","id":17162,"avatar_url":"https://avatars.githubusercontent.com/u/17162?v=3","gravatar_id":"","url":"https://api.github.com/users/davidx","html_url":"https://github.com/davidx","followers_url":"https://api.github.com/users/davidx/followers","following_url":"https://api.github.com/users/davidx/following{/other_user}","gists_url":"https://api.github.com/users/davidx/gists{/gist_id}","starred_url":"https://api.g[...]
